html, body {
    padding: 10px 15px;
    margin: 0;
    font: 12px sans-serif;
}
.counter {
    display: inline-block;
    text-align: center;
    background: #888;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    margin-right: 20px;

    button {
        margin: 5px;
        width: 100px;
    }

    .highlight {
        color: #77DD77;
    }
}
