html, body {
    padding: 10px 15px;
    margin: 0;
    font: 12px sans-serif;
}
.intro {
    margin-bottom: 20px;
}
.counter {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #888;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    margin-right: 20px;

    button {
        margin: 5px;
        width: 100px;
    }
}
.notification {
    display: none;

    &.show {
        display: block;
    }
    button {
        width: auto;
    }
}
