html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.page {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    margin: 0;
    font: 12px sans-serif;
}
a {
    color: #69f;
}
.page.default {
    background:#FFF;
}
.page.dark {
    background: #444;
}
#theme-menu {
    margin: 22px -3px;
}
.intro {
    margin: 20px 0;
    font-size: 14px;
}
.intro i {
    color: #888;
    line-height: 24px;
}
.page.dark .intro {
    color: #fff;
}
.counter {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #84a8c9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #FFF;
    margin-right: 20px;
}
.counter button {
    margin: 5px;
    width: 100px;
}
.page.dark .counter {
    background: #0b3257;
}
.notification {
    display: none;
    background: #EEE;
    color: #444;
    padding: 5px 0 3px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}
.notification.show {
    display: block;
}
.notification button {
    width: auto;
    display: block;
    padding: 3px 7px 4px;
    margin: 3px auto 5px;
    border-radius: 3px;
    border: 1px solid #BBB;
    width: 80%;
    margin-top: 5px;
}
.page.dark .notification button {
    background: #444;
    border-color: #444;
    color: #FFF;
}
.note {
    position: fixed;
    top: 0;
    right: 0;
    background: #DDD;
    padding: 10px 14px;
    border-bottom-left-radius: 5px;
    color: #777;
}
